
.full{
    border-style: ridge;
}
.tag{
    margin-top: 5%;
    padding: 2% 0 0 2%;
    font-size: 14px;
    background-color: #e3d5d5;
    height: 50px;
}
.col-md-8 h3{
    margin: 5% 0 0 0;
    font-size: 20px;
    font-weight: 700;
}
.col-md-4 label{
    font-size: 13px;
    margin: 3% 0 0 0;
}
.col-md-4 input{
    width: 100%;
    height: 30px;
}
.col-md-4 select{
    font-size: 13px;
    width: 100%;
    height: 30px;

}
.submit #submit{
    margin:3% 0 0 21%;
    border-radius: 5px;
    width: 10%;
    height:35px;
    color: #F6F7EB;
    background-color: #f05179;
    border:1px solid #f05179;
}
.submit #submit:hover{
    background-color: #2aabd2;
}


em{
    color: #f05179;
}

.your-order-box{
    margin-top: 10%;
    padding: 20px 30px;
    background-color: #f3f2ee;
}
.list-order{
    margin-top: 25px;
    border-top:1px solid #c6c4c4;
    padding-top: 30px;
}
.title-list .product-title{
    font-size: 18px;
    color: #0f0f0f;
    font-weight: 500;
}
.title-list .total-title{
    font-weight: 500;
    float: right;
    font-size: 18px;
    color: #0f0f0f;
}
.product-price{
    margin-top: 20px;
}
.item-box{
    padding-bottom: 7px;
}
.item-box .name-prod{
    color: #696969;
    font-size: 17px;
}
.item-box .price-prod{
    float: right;
    color: #666565;
    font-size: 17px;
}
.subtotal-box{
    margin-top: 30px;
    border-top: 1px solid #c6c4c4;
    padding-top: 30px;
}
.subtotal-price{
    margin-bottom: 15px;
}
.subtotal-box .subtotal-title{
    font-size: 18px;
    color: #0f0f0f;
}
.subtotal-box .total-price{
    float: right;
    color: red;
    font-size: 18px;
}
.note-checkout-box input{
    width: 20px;
    height: 20px;
    float: left;
}
.note-checkout-box p{
    color: #0f0f0f;
    font-size: 15px;
    padding-top: 15px;
}
.note-checkout-box span{
    color: #0f0f0f;
    font-size: 16px;
    display: block;
    margin-left: 30px;
    padding-top: 3px;
}
.place-order{
    margin-top: 30px;
}
.payment-checkout{
    margin-top: 22px;
    margin-bottom: 25px;
}
.payment-checkout img{
    width: 100%;
}
.place-order a{
    text-decoration: none;
    color: white;
    background-color: #0f0f0f;
    font-size: 17px;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px 25px;
    margin-bottom: 25px;
}
.footer-box{
    width: auto;
    height: 390px;
    background-color: #0f0f0f;

}
.footer-box-top{
    width: auto;
    height: 300px;
    padding-top: 50px;
}
.footer-box-top-1{
    width: 350px;
    float: left;
}
.logo-footer{
    width: 330px;
    margin-left:  -10px;
    margin-bottom: 20px;
}
.footer-box-top-1 p{
    color: #c8c6c6;
    font-size: 14px;
    letter-spacing: 1px;
}
.payment-logo{
    margin-top: 15px;
}
.footer-box-top-2{
    margin-left: 69px;
    width: 195px;
    height: 215px;
    float: left;
}
.footer-box-top-2 h2{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-top: 13px;
}
.footer-box-top-2 ul li{
    list-style: none;
    padding-top: 15px;
}
.footer-box-top-2 li a{
    text-decoration: none;
    font-size: 15px;
    color: #cfcdcd;
}
.footer-box-top-3{
    margin-left: 15px;
    width: 195px;
    height: 215px;
    float: left;
}
.footer-box-top-3 h2{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-top: 13px;
}
.footer-box-top-3 ul li{
    list-style: none;
    padding-top: 15px;
}
.footer-box-top-3 li a{
    text-decoration: none;
    font-size: 15px;
    color: #cfcdcd;
}
.new-letter{
    margin-left: 15px;
    width: 300px;
    height: 215px;
    float: left;
}
.new-letter h2{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    margin-top: 13px;
}
.new-letter p{
    color: #c8c6c6;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 15px;
}
.register-get-email{
    width: 100%;
    background-color: #0f0f0f;
    height: 45px;
    margin-top: 25px;
}
.email-icon{
    color: white;
    font-size: 19px;
    float: right;
    margin-top: -33px;
    margin-right: 15px;
}
.send-button{
    width: 85px;
    background-color: #0f0f0f;
    padding: 10px 22px;
    border: 1px solid white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    margin-top: 15px;
    transition: 500ms;
}
.new-letter a{
    text-decoration: none;
    color: white;
}
.send-button:hover{
    color: #fffefe;
    border-radius: 15px;
    transition: 500ms;
    letter-spacing: 2px;
}
.footer-box-under{
    border-top: 1px solid #5f5e5e;
    padding-top: 20px;
    margin-top: 25px;
    width: auto;
    height: auto;
    text-align: center;
}
.footer-box-under span{
    color: #F6F7EB;
    font-size: 16px;
}

