body{
    width: 100%;
    height: 100%;
}
.contain{
    margin-left: 16%;
    width: 980px;
    height: 500px;
    border:groove;
    text-align: center;
    background-image: url("../ImgHieu/Search/Quanao.jpg");
}
.seach{
    margin-top: 10%;
}

.mail{
    width: auto;
}
.mail #button:hover{
    background-color: #f05179;
}
#mail{
    margin: auto;
    width: 200px;
    height: 25px;
}
#button{
    border-radius:5px;
    width: 150px;
    height: 30px;
    margin: 15px 0 0 0;
    background-color: #2a2730;
    color: #F6F7EB;
}
#icon {
    margin-left:98%;
    text-align: right;
}
