*{

}
.col-md-4-shopping p{
    font-size: 13px;
}
.container b{
    font-size: 20px;
}
.col-md-3{
    font-size: 13px;
    width: 31%;
    margin: 5% 0 0 2%;
    border: 0.5px solid #dddee0;
    padding-bottom: 5%;
}
.col-md-3 p{
    letter-spacing: 1px;
    margin: 5% 0 0 0;
    font-size: 16px;
    font-weight: 700;
}
em{
    color: #f05179;
}
.country{
    margin: 5% 0 0 0 ;
}
input,button,select,textarea{
    width: 100%;
    height: 25px;
    margin: 2% 0 0 0;
}
#enter{
    font-size:12px;
    border-radius: 5px;
    margin: 7% 0 0 0;
    background-color: #f05179;
    color: #F6F7EB;
    width: 35%;
    height: 30px;
}
.money{
    margin: 5% 0 0 0;
    text-align: right;
}
.money h5 b{
    font-size: 16px;
}
.box{
    border: 1px solid #dddee0;
    margin-bottom: 7%;
}
.money #proceed{
    font-size: 12px;
    width: 51%;
    height: 30px;
    border-radius: 5px;
    margin: 9% 0 0 0;
    background-color: #f05179;
    color: #F6F7EB;
}
.col-md-12{
    margin-top: 5%;
    border: 1px solid #e9e9e9;
    margin-left: 1%;
    width: 100%;
}
.col-md-12 table{
    width: 98%;
}
.col-md-12 th{
    margin-left: -2%;
    background-color: #e9e9e9;
    color:#666666;
}
