.footer{
    background-color: black;
    padding-top: 2%;
}
.cole-footer{
    color: white;
    font-size: 15px;
}
h4{
    margin-bottom: 14px;
}
p{
    margin-bottom: 10px;
    color: #666666;
}
input{
    color: black;.
}
ul .icons{
    list-style-type: none;
}
.icons li{
    list-style: none;
    float: left;
    margin-right: 20px;
}
.icons i{
    font-size: 20px;
    color: #adadad;
    transition: color 300ms;
}
.icons i:hover{
    color: #e4b9c0;
}
.nganhang{
    float: right;
    padding-bottom: 10px;
}

