
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body * {
	line-height: 100%;
	box-sizing: border-box;
}
i, em {
	font-style: italic;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
input[type=text],
input[type=submit],
input[type=image],
input[type=password],
input[type=email],
button,
textarea {
	-webkit-appearance: none;
}
textarea,
button,
input[type=password],
input[type=email],
input[type=submit],
input[type=text] {
	font-family: 'Roboto', sans-serif;
}
a:focus {
	text-decoration: none;
}
textarea:focus,
button:focus,
a:focus,
input:focus {
	outline: none;
}
body {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	-webkit-text-size-adjust: 100%;
	color: #373d54;
}



.cont {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.header {
	margin: 0 0 27px;
}
.header:after {
	display: block;
	clear: both;
	content: "";
}
.header_top {
	background: #f8fafc;
	border-bottom: 1px solid #e0e4f6;
}
.contactinfo {
	font-size: 13px;
	float: left;
}
.contactinfo li {
	padding: 10px 15px 0;
	color: #373d54;
}
.contactinfo li * {
	line-height: 1;
}
.contactinfo li:first-child{
	margin-left: -15px;
}
.contactinfo li .fa {
	margin-right: 3px;
	margin-bottom: 2px;
	vertical-align: middle;
	color: #5f6680;
}
.social-icons {
	float: right;
	text-align: right;
	margin: 0;
}
.social-icons li a {
	border: 0 none;
	border-radius: 0;
	color: #5f6680;
	padding:0px;
}
.social-icons li{
	display:inline-block;
}
.social-icons li a i {
	padding: 11px 15px;
	margin-bottom: -1px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social-icons li a i:hover{
	color: #fff;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social-icons .fa-facebook:hover {
	background: #0083C9;
}
.social-icons .fa-twitter:hover  {
	background:#5BBCEC;
}
.social-icons .fa-linkedin:hover  {
	background:#FF4518;
}
.social-icons .fa-dribbble:hover  {
	background:#90C9DC;
}
.social-icons .fa-google-plus:hover  {
	background:#CE3C2D;
}
.social-icons .fa-instagram:hover  {
	background:#b4307d;
}
.social-icons .fa-vk:hover  {
	background:#4c75a3;
}
.header-middle {
	padding: 25px 0;
	text-align: justify;
}
.header-middle .header-middle-cont {
	font-size: 0;
}
.header-middle .header-middle-cont > * {
	font-size: 15px;
}
.header-middle .header-middle-cont:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.toplogo {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.toplogo a {
	display: block;
}
.toplogo img {
	display: block;
	max-height: 120px;
	max-width: 400px;
	width: auto;
	height: auto;
}
.shop-menu {
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}
.shop-menu ul li {
	display:inline-block;
	padding-left: 15px;
	padding-right: 15px;
}
.shop-menu ul li:last-child {
	padding-right: 0;
}
.shop-menu ul li a {
	background: #FFFFFF;
	font-size: 14px;
	padding: 2px 0;
	line-height: 1;
	color: #373d54;
	display: inline-block;
}
.shop-menu ul li * {
	line-height: 1;
}
.shop-menu ul li a:hover {
	color: #373d54;
	opacity: 1 !important;
	background: transparent;
}
.shop-menu ul li a i {
	margin-right:2px;
	color: #5f6680;
	padding: 0 1px;
	display: inline-block;
}
.shop-menu ul li a b {
	font-weight: 400;
}
.shop-menu ul li a .shop-menu-ttl {
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: all 0.2s;
	line-height: 1;
}
.shop-menu ul li a:hover .shop-menu-ttl {
	border-color: #5f6680;
}
.shop-menu ul li.topauth a:first-child {
	margin: 0;
	padding: 2px 12px 2px 0;
	background: url(../../../html/html/img/sep1.png) no-repeat right center;
}
.topmenu {
	position: relative;
	font-size: 14px;
}
.topmenu:after {
	clear: both;
	content: '';
	display: block;
}
.topmenu .topcatalog {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 203px;
	z-index: 3;
}
.topcatalog-show .topmenu .topcatalog {
	z-index: 11;
}
.topmenu .topcatalog .topcatalog-btn {
	position: relative;
		text-transform: uppercase;
	border: 1px solid #e0e4f6;
	display: block;
	padding: 11px 10px 11px 38px;
	font-weight: 500;
	background: #eff1fa url(../../../html/html/img/bar.png) no-repeat 14px 15px;
}
.topmenu .topcatalog .topcatalog-btn:after {
	position: absolute;
	top: 50%;
	right: 13px;
	content: '\f107';
	display: block;
	line-height: 1;
	margin: -8px 0 0;
}
.topmenu .topcatalog:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	content: '';
	display: block;
}
.topcatalog-list li:hover > a {
	background: #fff;
}
.topcatalog-list li:after {
	content: '';
	background: #373d54;
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: -1px;
	z-index: 3;
	width: 3px;
	display: none;
}
.topcatalog-list li:hover:after {
	display: block;
}
.topcatalog-list li .fa {
	position: absolute;
	right: 14px;
	line-height: 100%;
	top: 50%;
	margin: -1px 0 0;
}
.topcatalog-list li ul {
	position: absolute;
	left: 100%;
	top: -1px;
	background: #fff;
	border: 1px solid #e0e4f6;
	transition: all 0.3s ease;
}
.topcatalog-list li:hover > ul {
	overflow: initial;
	visibility: visible;
	opacity: 1;
	width: auto;
}
.topcatalog-list li ul > li:last-child > a {
	border-bottom: none;
}
.topmenu .mainmenu-btn {
	position: relative;
	color: #373d54;
	text-transform: uppercase;
	border: 1px solid #e0e4f6;
	border-right: none;
	width: 100%;
	padding: 11px 10px 11px 43px;
	font-weight: 500;
	text-align: left;
	background: #eff1fa url(../../../html/html/img/bar.png) no-repeat 18px 15px;
	display: none;
}
.topmenu .mainmenu-btn:after {
	position: absolute;
	top: 50%;
	right: 15px;
	content: '\f107';
	display: block;
	line-height: 1;
	margin: -8px 0 0;
}
.topmenu .mainmenu {
	border-top: 1px solid #e0e4f6;
	border-bottom: 1px solid #e0e4f6;
	background: #f8fafc;
	padding: 0 24px 0 24px;
}
.topmenu .mainmenu:after {
	clear: both;
	content: '';
	display: block;
}
.topmenu .mainmenu .fa {
	display: none;
}
.topmenu .mainmenu > li {
	float: left;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	margin: 0 0 0 0;
	position: relative;
}
.topmenu .mainmenu > li > a {
	color: #FFFFFF;
	display: block;
	transition: all 0.2s;
	padding: 23px 19px;
}
.topmenu .mainmenu > li.menu-item-has-children > a {
	padding-right: 30px;
}
.topmenu .mainmenu > li > a:hover,
.topmenu .mainmenu > li > a.active {
	color: black;
}
.topmenu .mainmenu > li.menu-item-has-children > a:after {
	position: absolute;
	content: '\f107';
	display: block;
	top: 50%;
	font-size: 14px;
	right: 13px;
	line-height: 100%;
	margin: -8px 0 0 0;
}
.topmenu .mainmenu > li > a > .fa {
	margin-left: 4px;
}
.topmenu .mainmenu > li:after {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	height: 5px;
	content: '';
	display: block;
}
/* mainmenu more */
.topmenu .mainmenu {
	position: relative;
	overflow: hidden;
	height: 60px;
	background-color: #f05179;
}
.topmenu .mainmenu.sections-show {
	overflow: initial;
}
.topmenu .mainmenu li.mainmenu-more {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #18202e;
	display: none;
	padding: 0;
	background: transparent;
	transition: all 0.2s;
	border-left: 1px solid transparent;
}
.topmenu .mainmenu li.mainmenu-more:hover {
	background: #fff;
	border-left: 1px solid #e0e4f6;
}
.mainmenu-more span {
	display: block;
	padding: 11px 19px;
}
.topmenu .topsearch {
	position: absolute;
	top: 0;
	right: 0;
}
.topsearch .topsearch-btn {
	height: 43px;
	line-height: 43px;
	width: 41px;
	text-align: center;
	border: 1px solid #e0e4f6;
	display: block;
	background: #f8fafc;
	position: relative;
}
.topsearch .topsearch-btn:hover {
	color: #3a89cf;
}
.topsearch .topsearch-btn .fa {
	display: inline-block;
	padding: 1px;
}
.topsearch .topsearch-form button[type=submit] {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 41px;
	background: #373d54;
	color: #FFFFFF;
	transition: all 0.2s;
	border: none;
}
.topsearch .topsearch-form button[type=submit]:hover {
	background: #474f6e;
}
.nav-search{
	margin-top:10px;
	padding:10px 20px;
	background-color: #fccdcd;
	float: right;
	box-shadow:5px 3px 5px rgba(0,0,0,0.3);
	height:40px;
	justify-content:center;
	cursor: pointer;
	transition:0.75s;
	border-radius:30px;
	color:#FFFFFF;
}
.nav-search > #search{
	width:200px;
}
.nav-search .fa-search{
	font-size:16px;
	color:#ffffff;
}
.nav-search .fa-search:hover{
	color:#0f0f0f;
}
#search{
	background:transparent;
	border:none;
	outline:none;
	width:0;
	font-size:16px;
	font-weight:300;
	transition:0.8s;
}
#search:focus{
	width:200px;
}
